<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AcceptableStatusCodes" value="200" />
    <add key="BaseUrls" value="http://localhost:52349/Random" />
    <add key="MaxDegreeOfParallelism" value="5" />
    <add key="MaxLinks" value="100" />
  </appSettings>
</configuration>