<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="maxPages" value="10" />
    <add key="url" value="http://www.uncas.dk" />
    <add key="matches" value="http://zen.uncas.dk,http://www.uncas.dk" />
    <!-- Types:
          crawl: crawls
          list: takes a list from the database
    -->
    <add key="type" value="crawl" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add 
      name="webTesterConnectionString" 
      connectionString="Server=.\SqlExpress;Database=WebTester;Integrated Security=true;" />
  </connectionStrings>
</configuration>
